name: C/C++ CI

on:
  push:
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Update apt 
      run: sudo apt update
    - name: Install apt dependencies
      run: sudo apt install -y cpanminus libmodern-perl-perl liblocal-lib-perl libcapture-tiny-perl libpath-tiny-perl 
    - name: Install perl prerequisites
      run: cpanm --local-lib=~/perl5 Text::Diff
    - name: make
      run: make
    - name: make test
      run: make test
